body {
    background-color: #b6be3e;
}
h1,h2,h3 {
    color: #46484c;
    text-align: center;
}
p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #3c30ac;
}